@inherits LayoutComponentBase

<PageTitle>dTE 2023</PageTitle>

<div class="page">
    <main>
        <article class="container px-4">
            <div class="row py-3 align-items-center d-none d-lg-block">
                <div class="col">
                    <img src="logo.png" loading="lazy" alt="Technology Event" width="350">
                </div>
                <div class="col text-end">
                    <img src="delaware-logo.svg" loading="lazy" alt="delaware" width="150px">
                </div>
            </div>
            @Body
            <div class="row py-5 align-items-center">
                <div class="col text-center fw-light fs-6">
                    <p>Check out <a href="https://dte2024.sessionize.com">dte2024.sessionize.com</a> for the full agenda.</p>
                    <img src="qr-app.png" class="rounded" loading="lazy" alt="https://dte2024.sessionize.com" width="100px"/>
                </div>
            </div>
        </article>
    </main>
</div>
<div class="fixed-bottom">
    <svg class="c-svg " width="290" height="240" focusable="false">
        <path opacity=".7" d="M-49.1.874v60.342c33.7 0 61 27.005 61 60.342h61C72.9 54.885 18.3.874-49.1.874z" fill="#EF463C"></path>
        <path d="M11.9 121.459c0-33.337-27.3-60.342-61-60.342v60.342h61z" fill="#C42828"></path>
        <path opacity=".5" d="M11.9 121.459h-61c0 66.673 54.6 120.585 121.9 120.585v-60.342c-33.6.099-60.9-26.907-60.9-60.243z" fill="#EF463C"></path>
        <path d="M72.9.874v60.342c33.7 0 61 27.005 61 60.342h61C194.8 54.885 140.2.874 72.9.874z" fill="#941914"></path>
        <path d="M133.9 121.459c0-33.337-27.3-60.342-61-60.342v60.342h61z" fill="#C42828"></path>
        <path d="M72.9 181.801c33.7 0 61-27.006 61-60.342h-61v60.342z" fill="#C42828"></path>
        <path opacity=".25" d="M72.9 121.459h61c0-33.337 27.3-60.342 61-60.342V.874c-67.4 0-122 54.01-122 120.585z" fill="#EF463C"></path>
        <path d="M194.8 61.216c-33.7 0-61 27.005-61 60.342h61V61.216z" fill="#C42828"></path>
        <path d="M-49.1 181.801c33.7 0 61-27.006 61-60.342h-61v60.342z" fill="#EF463C"></path>
    </svg>
</div>
