@page "/"

<PageTitle>dTE 2024 - Wall</PageTitle>

<ul>
    <li><a href="/next">Up next</a> - Current and next session for all stages</li>
    <li><a href="/stages">Stages view</a> - Next session per stage</li>
    <li><a href="/stages?stage=stage%201">Stage 1</a> - Next session for stage 1</li>
    <li><a href="/stages?stage=stage%202">Stage 2</a> - Next session for stage 2</li>
    <li><a href="/carousel?stage=Stage%201">Break Stage 1</a> - carousel for break with stage 1 sessions</li>
    <li><a href="/carousel?stage=Stage%202">Break Stage 2</a> - carousel for break with stage 2 sessions</li>
</ul>

<h4>Debug</h4>
<ul>
    <li><strong>Current date/time:</strong> @DateTime.Now.ToString("R")</li>
    <li><strong>UTC date/time:</strong> @DateTime.UtcNow.ToString("R")</li>
</ul>