@page "/stages"
@inject Edition2023Service Service
@inject NavigationManager NavManager


<PageTitle>dTE - Stages</PageTitle>

@if (ConferenceData == null)
{
    <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ml-auto text-light" role="status" aria-hidden="true"></div>
    </div>
}
else if (NextSessions.Any())
{
    <div class="row">
        @foreach (var group in NextSessions)
        {
            <div class="col card-group">
                <SessionCard Session="group.First()" Date="GetReferenceDateTime()"></SessionCard>
            </div>
        }
    </div>

    <div class="row pt-3">
        @foreach (var group in NextSessions)
        {
            <div class="col card-group">
                <SessionCard Session="group.ElementAtOrDefault(1)" Date="GetReferenceDateTime()"></SessionCard>
            </div>
        }
    </div>
}
else if (NextTime != null && HighlightSession != null)
{
    <div class="row py-3">
        <div class="col text-center">
            <h2 style="display-2">@NextTime</h2>
        </div>
    </div>
    <div class="row py-4">
        <div class="col">
            <h4>@HighlightSession.Start.ToShortTimeString()</h4>
            <SessionCard Session="HighlightSession" Date="GetReferenceDateTime()"></SessionCard>
        </div>
    </div>
}
else
{
    <div class="row py-3">
        <div class="col text-center">
            <h2 class="display-1">Thanks for joining,<br />hope to see you again next year</h2>
        </div>
    </div>
}

@code
{
    public ConferenceData? ConferenceData { get; set; }
    public IEnumerable<IGrouping<int, Summary>> NextSessions { get; set; } = Enumerable.Empty<IGrouping<int, Summary>>();
    public Summary? HighlightSession { get; set; }
    public string? NextTime { get; set; }
    public int? RoomFilter { get; set; }

    private Timer? _timer;
    private Random _random = new Random();

    protected override async Task OnInitializedAsync()
    {
        ConferenceData = await Service.GetConferenceDataAsync();

        var stageName = NavManager.QueryString("stage");

        if (!string.IsNullOrEmpty(stageName))
        {
            RoomFilter = ConferenceData.Rooms
                .Where(r => r.Name.Equals(stageName, StringComparison.InvariantCultureIgnoreCase))
                .SingleOrDefault()?.Id;
        }

        _timer = new System.Threading.Timer(async _ =>  // async void
        {
            DetermineSessions();
            await InvokeAsync(StateHasChanged);
        }, null, 0, 30000);
    }

    public DateTimeOffset GetReferenceDateTime()
    {
        var time = NavManager.QueryString("time");
        return TimeHelpers.GetOffsetByTime(time);
    }

    public void DetermineSessions()
    {
        var time = GetReferenceDateTime();

        if (ConferenceData == null)
        {
            return;
        }

        var sessions = ConferenceData.Sessions.AsEnumerable();

        if (RoomFilter.HasValue)
        {
            sessions = sessions.Where(s => s.RoomId == RoomFilter);
        }

        NextSessions = sessions
            .Where(s => s.GetStartOffset() <= time.AddMinutes(20) && s.GetEndOffset() > time.AddMinutes(5))
            .Select(s => Summary.FromSession(s, ConferenceData))
            .OrderBy(s => s.RoomSort)
            .ThenBy(s => s.Start)
            .GroupBy(s => s.RoomSort);

        var nextSession = sessions
            .Where(s => s.GetStartOffset() > time)
            .MinBy(s => s.StartsAt);

        if (NextSessions.Any())
        {
            NextTime = null;
            HighlightSession = null;
        }

        if (nextSession != null)
        {
            NextTime = nextSession.AsDifferenceText(time);
        }

        if (RoomFilter.HasValue)
        {
            HighlightSession = Summary.FromSession(nextSession, ConferenceData);
        }
        else
        {
            var applicableSessions = sessions.Where(s => s.GetStartOffset() > time);

            if (!applicableSessions.Any())
            {
                HighlightSession = null;
                return;
            }

            var session = applicableSessions.ElementAt(_random.Next(0, applicableSessions.Count()));
            HighlightSession = Summary.FromSession(session, ConferenceData);
        }
    }
}
