<div class="row">
    @foreach (var item in Collection)
    {
        <div class="col card-group">
            <SessionCard Session="item" Date="Date"></SessionCard>
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<Summary> Collection { get; set; } = Enumerable.Empty<Summary>();

    [Parameter]
    public DateTime? Date { get; set; }
}