<div class="@GetRowClass()">
    @foreach (var item in Collection)
    {
        <div class="col card-group">
            <SessionCard Session="item" Date="Date"></SessionCard>
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<Summary> Collection { get; set; } = Enumerable.Empty<Summary>();

    [Parameter]
    public DateTimeOffset? Date { get; set; }

    public string GetRowClass()
    {
        return Collection.Count() > 3 ? "row row-cols-3" : "row";
    }
}